*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bruno Ace", serif;
}

#drum-machine {
  width: 400px;
  border-radius: 10px;
}

h2 {
  font-family: "Gajraj One", serif;
}
